@model Client
<div class="page-header text-center pageHeader">
    <h1>Heres The Scoop</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title text-center panelHeader">Our Mission Statement</h3>
    </div>
    <div class="panel-body panelHeader" id="indentText">
        <p>
            If you have a dog, you have Poop. Our mission is to give you back the fun part of having a dog.
            It's up to us to make sure you have a sanitary backyard environment -- safe for you, your children, and your pets.
            We'll do the dirty work for you. We scoop the poop and take it away.
            Our Poop-Patrollers will be there year round, every week, to clean up and properly dispose of all the waste they've
            left behind, whether it's a residential or commercial yard. Our dog waste removal service is guaranteed.
            The list of neighbourhoods where we are scooping poop is growing all over South-Central Ontario,
            from the GTA north through Muskoka, and from Brantford and Niagara Falls to Oshawa and surrounding areas.
            <img src="~/images/dogOnGrass.jpg" alt="dogPlayingOnGrass" class="center-block" id="imgAboutPage" />
            <h2 class="text-center">Your Dog Poop?</h2>
            <h3 class="text-center">No Problem We Scoop</h3>
            Let us know when you'd like us to start scooping in your yard. Give us a call 1-866-734-POOP and get your yard cleaned up.
        </p>
    </div>
</div>
<div class="jumbotron col-md-3 text-center" id="socialIconContainer">
    <h3>Follow Us On: </h3>
    <a href="http://www.facebook.com"><img src="~/images/facebookIcon.png" class="socialIcons"
                                           alt="facebookLink"/></a>
    <a href="http://www.twitter.com"><img src="~/images/twitterIcon.png" class="socialIcons"
                                          alt="twitterLink"/></a>
</div>