@model Client
<div class="page-header text-center pageHeader">
    <h1>Our Services</h1>
</div>

<div class="jumbotron servicePrices">
    <div class="servicePriceContainer">
        <h2>Our Weekly Service</h2>
        <p>We come out once a week, same day every week</p>
    </div> 
    <div class="label label-primary pull-right priceLabels">
        18.99 / Week
    </div>
</div>
<div class="jumbotron servicePrices">
    <div class="servicePriceContainer">
        <h2>Our Bi-Weekly Service</h2>
        <p>We come out twice a week, Any 2 Days of the month</p>
    </div>
    <div class="label label-primary pull-right priceLabels">
        45.99 / Bi-Weekly
    </div>
</div>
<div class="jumbotron servicePrices">
    <div class="servicePriceContainer">
        <h2>Our Monthly Service</h2>
        <p>We come out once a month, same day every month</p>
    </div>
    <div class="label label-primary pull-right priceLabels">
        99.99 / Monthly
    </div>
</div>
<div class="jumbotron servicePrices">
    <div class="servicePriceContainer">
        <h2>Our One-Time Service</h2>
        <p>We come out for a one-time cleaning</p>
    </div>
    <div class="label label-primary pull-right priceLabels">
        129.99 / One-Time
    </div>
</div>