<div class="col-md-8" id="mainBanner">
</div>
<div class="col-md-4">
    <div id="indexLogoBanner"></div>
    <div class="quickLinksContainer">
        <form asp-controller="Home" asp-action="Contact">
            <button type="submit" class="btn btn-primary pull-right">Message Us</button>
        </form>
        <canvas id="indexCanvas" height="200" width="200">
            Apologies, your browser doesn't support Canvas!
        </canvas>
    </div>
</div>
<div class="col-md-12">
    <table class="table" id="practiceTable">
        <tr>
            <td>Bam</td>
        </tr>
        <tr>
            <td>Bam</td>
        </tr>
        <tr>
            <td>Bam</td>
        </tr>
        <tr>
            <td>Bam</td>
        </tr>
        <tr>
            <td>Bam</td>
        </tr>
    </table>
</div>